.row
  .col
    %h3 Predefined color schemes
    %form{ :action => '/color', :method=>'get'}
      .form-group
        %input{ :type=>'radio', :id=>'radio1', :name=>'predefined', :value=>'rainbow' }
        %label{ :for=>'radio1' } Rainbow colors
      .form-group
        %input{ :type=>'radio', :id=>'radio2', :name=>'predefined', :value=>'rainbow_gradient' }
        %label{ :for=>'radio2' } Fancy Rainbow Gradient
      .form-group
        %input{ :type=>'radio', :id=>'radio3', :name=>'predefined', :value=>'random' }
        %label{ :for=>'radio3' } Random stuff
      .form-group
        %input{ :type=>'radio', :id=>'radio4', :name=>'predefined', :value=>'breathing' }
        %label{ :for=>'radio4' } Breathing color
      .form-group
        %input{ :type=>'radio', :id=>'radio5', :name=>'predefined', :value=>'websocket' }
        %label{ :for=>'radio5' } Some dank color bar
      .form-group
        %input{ :type => "number", :id => "delay", :name => "delay", :min => "0", :max => "999999" }
        %label{ :for => "delay" } Some reasonable delay value
      %button{ :type=>'submit', :class=>'btn btn-primary' } Submit
.row
  .col
    %h3 Realtime sounds through websocket
    %form{ :action=>'/websocket', :method=>'get' }
      - unless websocket_status
        %button{ :type => 'submit', :id => 'websocket', :class => 'btn btn-success' } Start sound bar
      - else
        %button{ :type => 'submit', :id => 'websocket', :class => 'btn btn-danger' } Stop sound bar

.row
  .col
    %h3 Custom colors
    %form{ :action => 'custom', :method => 'get' }
      - %w(red green blue).each do |color|
        .form-group
          %input{ :type => 'number', :id => "color_#{color}", :name => color, :min => '0', :max => '255' }
          %label{ :for => "color_#{color}" }= color.capitalize
      %button{ :type => 'submit', :class => 'btn btn-primary'} Submit
