%html
  %head
    %meta{ :charset=>"utf-8" }
    %link{ :href=>"/css/bootstrap.min.css", :rel=>"stylesheet" }
    %title Arduino Color Server
  %body
    .navbar.navbar-fixed-top.bg-dark.navbar-dark
      .navbar-inner
        .container
          %a.navbar-brand{ :href=>"/" } Jaroslav Prokop Arduino

    .container
      = yield

    %footer= '&copy;' + ' 2020&ndash;' + Time.now.year.to_s + ' Jaroslav Prokop.'
